<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <input id="search_input" type="text" class="form-control" placeholder="Message Text" maxlength="8">
            <span class="input-group-btn">
                <button id="search_button" class="btn btn-default" type="button">Search</button>
            </span>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-10 chat-container">
        <table id="chat_table" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Message</th>
                    <th>Received</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-sm-2">
        <ul id="chat_users" class="list-group"></ul>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-6">
        <div class="input-group">
            <input id="message_input" type="text" class="form-control" placeholder="Message" maxlength="100">
            <span class="input-group-btn">
                <button id="send_button" class="btn btn-default" type="button">Send</button>
            </span>
        </div>
    </div>
</div>
<div id="search_modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Search Results</h4>
            </div>
            <div class="modal-body">
                <table id="search_table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Message</th>
                            <th>Received</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>